body {
  margin: 0;
  font-family: inherit; /* Use MUI theme's typography fontFamily (Inter) */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
